*~
*.o
*.so
*.lo
*.a
*.la
*.loT
*.orig
*.rej
.libs
.deps
*.dirstamp
.\#*
\#*
*.user
*.suo
*.ncb
*.pdb
*.map
*.lib
*.obj
*.idb
*.res
*.exp
*.exe
*.manifest
*.dep
*.dll
*.sbr
*.ilk
*.bsc
*.pch
*.opensdf
*.tar
*.gz
*.tgz
*.xz
*.bz2
*.tbz2
*.deb
*.swp
*.serial
aclocal.m4
autom4te.cache
config.cache
configure.lineno
config.log
config.status
Makefile
Makefile.in
compile
config.guess
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
test-driver
core.*
TAGS
.vscode/c_cpp_properties.json
